.form-control:focus {
  border: 1px solid #005eff;
  outline: 0;
  box-shadow: none;
}

@mixin font($weight, $size, $lh) {
  font-family: "Archivo";
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;
  color: #000000;
}

.login-page {
  position: relative;
  background: #ffffff;
  .login-container-left {
    .title {
      position: absolute;
      width: 114px;
      height: 37px;
      left: 64px;
      top: 48px;
      @include font(600, 34px, 37px);
    }

    .left-img {
      height: 770px;
      object-fit: contain;
      background: url("/assets/login-man.jpg") no-repeat;
      background-position: left;

      @media (max-width: 770px) {
        background-position: -250px -100px;
      }
      @media (max-width: 992px) {
        background-position: -250px -100px;
      }
    }
  }

  .login-container-right {
    .top {
      .title-top {
        width: 150px;
        height: 13px;
        @include font(400, 12px, 13px);
      }
      .frame-box {
        gap: 3px;

        width: 80px;
        height: 27px;

        border: 1px solid #000000;
        border-radius: 5px;

        .material-symbols-outlined {
          font-size: 20px;
          padding-top: 10px;
        }
        .content {
          padding-top: 5px;
          height: 19px;
          @include font(500, 12px, 19px);
          letter-spacing: 0.01em;
        }
        .flag {
          height: 15px;
          object-fit: contain;
        }
      }
    }
    .login-container {
      height: 399px;
      margin-left: 150px;
      margin-top: 200px;
      @media (max-width: 991px) {
        margin-left: 100px;
        margin-top: 75px;
        margin-bottom: 50px;
      }
      @media (max-width: 768px) {
        margin-left: 0px;
        padding: 50px;
        margin-bottom: 50px;
      }

      .login-container-main {
        .login-title {
          width: 175px;
          height: 26px;
          @include font(600, 24px, 26px);
          color: #202020;
        }
        .login-desc {
          @include font(400, 14px, 15px);
          color: #707070;
        }
      }

      .login-container-input {
        height: 64px;
        .email-border {
          border-radius: 10px 10px 0px 0px;
        }
        .password-border {
          border-radius: 0px 0px 10px 10px;
        }

        .rectangle {
          box-sizing: border-box;
          height: 65px;

          .form-group {
            width: 100%;
            height: 100%;

            .email-input {
              border-radius: 10px 10px 0px 0px;
            }
            .password-input {
              border-radius: 0px 0px 10px 10px;
            }

            .email-label,
            .password-label {
              @include font(400, 16px, 13px);
              color: #707070;
            }
            .form-floating > .form-control {
              height: 62px;
              @include font(400, 16px, 17px);
            }
          }
        }
      }
      .login-container-items {
        .item-1 {
          .text {
            @include font(400, 12px, 13px);
          }
        }
        .item-2 {
          @include font(400, 12px, 13px);
        }
      }
      .btn {
        width: 100%;
        height: 65px;
        @include font(400, 16px, 17px);
        color: #ffffff;

        border-radius: 10px;
        border: solid 1px #005eff;
      }
      .link {
        @include font(400, 12px, 13px);
        text-decoration: none;
      }
    }
  }
}
