<div class="container-fluid login-page">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-6 p-0">
      <section class="login-container-left">
        <div class="left-img img-responsive img-fluid p-0"></div>
        <div class="title">Budget</div>
      </section>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      <section class="login-container-right">
        <div class="top d-flex align-items-center justify-content-end pt-4">
          <div class="title-top">Having Trouble? Get Help</div>
          <div
            class="frame-box d-flex align-items-center justify-content-center"
          >
            <img class="flag" src="assets/british.jpg" alt="" />
            <p class="content">Eng</p>
            <p class="material-symbols-outlined">expand_more</p>
          </div>
        </div>
        <div class="login-container col-md-8 col-lg-6">
          <div
            class="login-container-main d-flex justify-center flex-column pb-5"
          >
            <div class="login-title mb-2">Login to Budget</div>
            <div class="login-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </div>
          </div>
          <div class="login-container-input d-flex justify-center flex-column">
            <form>
              <div class="rectangle">
                <div class="form-group">
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      class="form-control"
                      id="floatingInput"
                      placeholder="name@example.com"
                    />
                    <label class="email-label" for="floatingInput"
                      >Email address</label
                    >
                  </div>
                </div>
              </div>
              <div class="rectangle">
                <div class="form-group">
                  <div class="form-floating">
                    <input
                      type="password"
                      class="form-control"
                      id="floatingPassword"
                      placeholder="Password"
                    />
                    <label class="password-label" for="floatingPassword"
                      >Password</label
                    >
                  </div>
                </div>
              </div>
              <div
                class="login-container-items d-flex justify-content-between pt-4 mb-5"
              >
                <div
                  class="item-1 d-flex align-items-center justify-content-start"
                >
                  <input type="checkbox" />
                  <div class="text">&nbsp;&nbsp;Keep me logged in</div>
                </div>
                <div class="item-2">Forgot password?</div>
              </div>
              <button type="button" class="btn btn-primary btn-lg">
                Login
              </button>
              <a
                class="d-flex align-items-center justify-content-center link mt-4"
                href=""
                >Create New Account?</a
              >
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
