.bold {
  font-weight: 600;
}

.dashboard-area {
  width: 445px;
  height: 109px;
  margin-top: 48px;
  padding-left: 24px;

  .content {
    width: 350px;
    height: 53px;

    .heading {
      width: 123px;
      height: 26px;
      margin-bottom: 12px;

      font-family: "Archivo";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 26px;

      color: #202020;
    }
    .desc {
      width: 350px;
      height: 15px;

      font-family: "Archivo";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;

      color: #707070;
    }
  }
  .info {
    width: 445px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 19.5px;
    margin-top: 16px;

    .info-content {
      width: 427px;
      height: 32px;

      .icon {
        width: 32px;
        height: 32px;
        background-color: orange;
        border-radius: 50%;
        color: white;
      }
      .info-text {
        font-family: "Archivo";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;

        color: #202020;
      }
      .view {
        width: 32px;
        height: 15px;

        font-family: "Archivo";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
        text-decoration-line: underline;

        color: #202020;
      }
    }
  }
}

.items {
  width: 988px;
  height: 141px;
  padding-left: 24px;
  margin-top: 24px;

  .item:nth-child(even) {
    background: #4a9c88;
  }

  .item {
    padding: 24px;
    gap: 12px;
    margin-right: 40px;
    // position: absolute;
    width: 217px;
    height: 141px;
    // left: 264px;
    // top: 173px;

    background: #005eff;
    border-radius: 10px;

    .item-head {
      height: 15px;

      font-family: "Archivo";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;

      color: #ffffff;

      /* Inside auto layout */

      flex: none;
      // order: 0;
      flex-grow: 0;
    }

    .item-body {
      width: 89px;
      height: 37px;

      font-family: "Archivo";
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 37px;
      /* identical to box height */

      color: #ffffff;

      /* Inside auto layout */

      flex: none;
      // order: 1;
      flex-grow: 0;
    }
  }

  .tag {
    width: 169px;
    height: 17px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;

    .banner {
      width: 61px;
      height: 17px;
      background: #ffffff;
      border-radius: 8.5px;

      .number {
        width: 36px;
        height: 13px;

        font-family: "Archivo";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
        /* identical to box height */

        color: #000000;
      }

      .arrow {
        font-size: 15px;
      }
    }
    .item-footer {
      // position: absolute;
      width: 110px;
      height: 15px;
      padding-left: 4px;
      // left: 89px;
      // top: 102px;

      font-family: "Archivo";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;

      color: #ffffff;
    }
  }
}
.table {
  // width: 1168px;
  height: 442px;
  margin-top: 24px;

  .main-heading {
    // width: 242px;
    height: 22px;
    padding-left: 24px;

    font-family: "Archivo";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height */

    color: #202020;
  }

  .table-content {
    width: 1168px;
    // height: 341px;
    .table-headings {
      // width: 1168px;
      height: 37px;
      // border-radius: 5px;
      background-color: #eff1f3;
      .heading:nth-child(1) {
        padding-left: 16px;
      }
      .heading:nth-child(7) {
        width: 60px;
      }
      .heading {
        height: 13px;
        // margin-right: 90px;
        // padding-left: 16px;

        font-family: "Archivo";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 13px;
        /* identical to box height */

        color: #707070;
      }
    }
    .table-body {
      // width: 1168px;
      height: 288px;
      .row-data:nth-child(1) {
        padding-left: 16px;
      }
      .row-data {
        // width: 102px;
        // height: 15px;

        font-family: "Archivo";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;

        color: #202020;
      }
      .sub-data {
        width: 76px;
        height: 13px;
        font-family: "Archivo";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
        /* identical to box height */

        color: #707070;
      }
      td span.sub-data {
        pointer-events: none;
      }
    }
  }

  .table-button {
    border: 1px solid #202020;
    border-radius: 24px;
    width: 98px;
    height: 39px;
    margin: 0px auto;
    a {
      text-decoration: none;
      width: 50px;
      height: 15px;

      font-family: "Archivo";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 15px;

      color: #202020;
    }
  }
}
td,
th {
  border-style: none;
  cursor: pointer;
  border-bottom: 1px solid #eaeaea;
}

.table-active {
  background: #edf6fe;
}
.table > :not(caption) > * > * {
  box-shadow: none;
}
