<section class="dashboard-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div class="content">
          <h3 class="heading">Dashboard</h3>
          <div class="desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>
        </div>
        <div class="info">
          <div
            class="info-content d-flex align-items-center justify-content-between"
          >
            <span
              class="material-symbols-outlined icon d-flex align-items-center justify-content-center"
            >
              info
            </span>
            <div class="info-text">
              You Have 32 Support Request Pending for Response
            </div>
            <div class="view">View</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
