<section class="dashboard-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div class="content">
          <h3 class="heading">Dashboard</h3>
          <div class="desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>
        </div>
        <div class="info">
          <div
            class="info-content d-flex align-items-center justify-content-between"
          >
            <span
              class="material-symbols-outlined icon d-flex align-items-center justify-content-center"
            >
              info
            </span>
            <div class="info-text">
              You Have
              <span class="bold">32 Support Request Pending for Response</span>
            </div>
            <div class="view">View</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="items d-flex col-xl-12 col-lg-12 col-md-12">
        <div
          class="item d-flex align-items-start flex-column col-xl-3 col-lg-3 col-md-3"
        >
          <h4 class="item-head">Total Users</h4>
          <h2 class="item-body">1,567</h2>
          <div class="tag d-flex align-items-center justify-content-center">
            <div
              class="banner d-flex align-items-center justify-content-center"
            >
              <h4 class="number mb-0">2.36%</h4>
              <span class="material-symbols-outlined arrow"> north </span>
            </div>
            <h4 class="item-footer mb-0">Since last month</h4>
          </div>
        </div>
        <div
          class="item d-flex align-items-start flex-column col-xl-3 col-lg-3 col-md-3"
          *ngFor="let _ of [].constructor(3)"
        >
          <h4 class="item-head">Savings Account</h4>
          <h2 class="item-body">1,500</h2>
          <div class="tag d-flex align-items-center justify-content-center">
            <div
              class="banner d-flex align-items-center justify-content-center"
            >
              <h4 class="number mb-0">2.36%</h4>
              <span class="material-symbols-outlined arrow"> north </span>
            </div>
            <h4 class="item-footer mb-0">Since last month</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="table d-flex flex-column">
          <div class="main-heading">Recently Active Users</div>
          <table class="table-content table table-hover">
            <thead class="table-headings">
              <tr>
                <th
                  class="heading"
                  *ngFor="let heading of headings"
                  scope="col"
                >
                  {{ heading }}
                </th>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr
                scope="row"
                *ngFor="let name of names; let i = index"
                (click)="onRowClick($event, i)"
              >
                <td class="row-data bold">
                  {{ name }}<br />
                  <span class="sub-data">ID 123456789</span>
                </td>
                <td class="row-data">+91 9876543210</td>
                <td class="row-data">
                  Income <br />
                  <span class="sub-data">Salary</span>
                </td>
                <td class="row-data bold">$200</td>
                <td class="row-data">Savings</td>
                <td class="row-data bold">$6000</td>
                <td
                  *ngIf="clicked === i"
                  class="row-data d-flex align-items-center justify-content-center mt-4 end"
                >
                  View
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="table-button d-flex align-items-center justify-content-center"
          >
            <a type="btn">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
